<ion-content [fullscreen]="true">
  <div class="container">
    <picture class="icon-container">
      <img class="app-logo" src="../../../assets/img/logo.png" title="logo" title="logo"
        alt="logo app ionic" loading="lazy">
    </picture>

    <h1>Rutia</h1>

    <h3 class="">Inicia una nueva aventura con rutia y descubre una nueva forma de ver el mundo</h3>

    <div class="button-container">
            <button type="button" class="btn btn-primary" (click)="next()">
                Comenzar
            </button>
            <button type="button" class="btn btn-terciary" (click)="navigateToSingUp()">
                Registrate
            </button>
    </div>
  </div>
</ion-content>
