.container{
    background-color: var(--primary-color);
}

.button-container{
    flex-direction: column;
    margin-top: 2rem;
    padding-left: 2rem;
}

h3{
     margin-top: 3rem;
     position: relative;
}

.btn-terciary{
    margin-left: 3.2rem;
}
